<root>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-01-04">W 01-04</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-01-06">F 01-06</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-01-09">M 01-09</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-01-11">W 01-11</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-01-13">F 01-13</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-01-16">M 01-16</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-01-18">W 01-18</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-01-20">F 01-20</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-01-23">M 01-23</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-01-25">W 01-25</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-01-27">F 01-27</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-01-30">M 01-30</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-02-01">W 02-01</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-02-03">F 02-03</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-02-06">M 02-06</date>
            </head>
            <div type="inclass">
                <p>...</p>
                <note>XML Prague</note>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-02-08">W 02-08</date>
            </head>
            <div type="inclass">
                <p>...</p>
                <note>XML Prague</note>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-02-10">F 02-10</date>
            </head>
            <div type="inclass">
                <p>...</p>
                <note>XML Prague</note>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-02-13">M 02-13</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-02-15">W 02-15</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-02-17">F 02-17</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-02-20">M 02-20</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-02-22">W 02-22</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-02-24">F 02-24</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-02-27">M 02-27</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-01">W 03-01</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-03">F 03-03</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-03-06">M 03-06</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-08">W 03-08</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-10">F 03-10</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-03-13">M 03-13</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-15">W 03-15</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-17">F 03-17</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-03-20">M 03-20</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-22">W 03-22</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-24">F 03-24</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-03-27">M 03-27</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-29">W 03-29</date>
            </head>
            <div type="inclass">
                <p>...</p>
                <note>Sigma Tau Delta Conference</note>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-03-31">F 03-31</date>
            </head>
            <div type="inclass">
                <p>...</p>
                <note>Sigma Tau Delta Conference</note>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-04-03">M 04-03</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-04-05">W 04-05</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-04-07">F 04-07</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-04-10">M 04-10</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-04-12">W 04-12</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-04-14">F 04-14</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head>
                <date when="2017-04-17">M 04-17</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-04-19">W 04-19</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2017-04-21">F 04-21</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
</root>
