body {
color: #3066B4;
background-color: papayawhip;
font-family: modoni, "times new roman", georgia;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

ul.nav li {
    float: left;
}

a {
    display: block;
    width: 150px;
}

h1 {
    color: #3066B4;
background-color: papayawhip;
font-family: modoni, "times new roman", georgia;
}

p {
    color: #3066B4;
background-color: papayawhip;
font-family: modoni, "times new roman", georgia;
}

.footer {
	font-size: 12px;
	padding: 0;
	background-color: papayawhip;
	position: relative;
	clear: both;
	text-align: left;
}

body{font-family:roman, 'times new roman', times, serif}
span.hideMe {visibility: hidden;}

span.lineNumber {padding-right: 2em}

/*span.space {padding-left:.5em}*/