@charset "UTF-8";

body
{
	margin: 0px;
	color: #75570b;
	font-size: 12px;
	font-family: "Trebuchet MS",Arial, Verdana, Univers;
	background-color: #8C7742;
	background-image: url(images/pattern.jpg);
	background-repeat: repeat;
}

h1{ color: #a08950; font-size: 16px; font-weight: bold; margin: 3px 0px 25px 0px; }
h2{ color: #ffffff; font-size: 14px; font-weight: normal; margin: 0px 0px 15px 0px; }

a{ color: #ba7007; }
a:visited{ color: #ba7007; }
a:hover{ color: black; }

.container
{
	width: 908px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

.bannerArea
{
	width: 908px;
}

.bannerNav
{
	width: 800px;
	margin: 0px 0px 30px 15px;
	#margin-bottom: 10px; /* for IE */
	color: #0360b0;
	font-size: 14px;
	font-weight: bold;		
}

.bannerNav ul
{
	margin: 0px;
}

.bannerNav li
{
	list-style: none;
	float:left;
	margin: 0px 20px 0px 0px;
	#margin-left: 20px; /* for IE */
}

.bannerNav a
{
	margin-left: 0px;
	color: #0360b0;
	text-decoration: none;
}

.bannerNav a:visited
{
	color: #0360b0;
}

.bannerNav a:hover
{
	color: #000000;
}

.bannersubnav
{
	padding-top: 20px;
	padding-right: 20px;
	float: right;
	color: #3e75a6;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana,Arial, Helvetica , sans-serif;
}

.bannersubnav a{ color: #3e75a6; text-decoration: none; padding-left: 5px; padding-right: 5px; }
.bannersubnav a:visited{ color: #3e75a6; }
.bannersubnav a:hover{ color: #000000; text-decoration: none; }

.toplogo
{
	margin-left: 0px;
	padding-top: 0px;
}

.navigationArea
{
	width: 908px;
	border-bottom: solid;
	border-color: #75570b;
	border-width: 1px;
}

.contentArea
{
	width: 908px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.contentleft
{
	width: 400px;
	padding-left: 30px;
	padding-right: 40px;
	float: left;
}

.contentright
{
	width: 400px;
	float: left;
}

.imageright
{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;	
}

.imageleft
{
	margin-right: 30px;
	margin-bottom: 10px;
	float: left;
}

.footerArea
{
	width: 908px;
	height: 50px;
}

.copyright
{
	border-top: dotted;
	border-color: #75570b;
	border-width: 2px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 12px;
	color: #a08950;
	font-size: 12px;
}

.titles
{
    text-align: center;
}

.iAlign
{
    text-align: right;
}