body {
background-color: #B0C4DE;
color: #031B3F; 
font-family: arial, helvetica, sans-serif; 
padding:15px; line-height:1.4em;
text-align: center;
}

div.spGrp{
   background-color:PapayaWhip; font-style:italic;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid indigo;
}
div.sp{text-align:left;}
span.num{font-size:smaller; color:indigo; padding-left:5em; padding-right:5em;}
span.time{font-size:smaller; color:indigo; padding-left:5em; padding-right:5em;}
div.commanders{background-color:khaki; text-align:left;}

/*span[class]{
font-weight: bold;
text-decoration: underline;
background-color: papayawhip;
padding-right: 50px;
padding-left: 50px;

}*/
