<?xml version="1.0" encoding="UTF-8"?><root>
    <div type="week" n="1">
        <div type="day">
            <head>
                <date when="2018-01-08">M 1-08</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-01-10">W 1-10</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-01-12">F 1-12</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="2">
        <div type="day">
            <head>
                <date when="2018-01-15">M 1-15</date>
            </head>
            <div type="inclass">
                <p><hi>Martin Luther King’s Birthday: No classes.</hi></p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-01-17">W 1-17</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-01-19">F 1-19 <note>drop-add period ends</note></date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="3">
        <div type="day">
            <head>
                <date when="2018-01-22">M 1-22</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-01-24">W 1-24</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-01-26">F 1-26</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="4">
        <div type="day">
            <head>
                <date when="2018-01-29">M 1-29</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-01-31">W 1-31</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-02-02">F 2-02</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="5">
        <div type="day">
            <head>
                <date when="2018-02-05">M 2-05</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-02-07">W 2-07</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-02-09">F 2-09</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="6">
        <div type="day">
            <head>
                <date when="2018-02-12">M 2-12</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-02-14">W 2-14</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-02-16">F 2-16</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="7">
        <div type="day">
            <head>
                <date when="2018-02-19">M 2-19</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-02-21">W 2-21</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-02-23">F 2-23</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="8">
        <div type="day">
            <head>
                <date when="2018-02-26">M 2-26</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-02-28">W 2-28</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-03-02">F 3-02</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="9">
        <div type="day">
            <head>
                <date when="2018-03-05">M 3-05 - F 3-09</date>
            </head>
            <div type="inclass">
                <p><hi>Spring Break: No Classes.</hi></p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="10">
        <div type="day">
            <head>
                <date when="2018-03-12">M 3-12</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-03-14">W 3-14</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-03-16">F 3-16</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="11">
        <div type="day">
            <head>
                <date when="2018-03-19">M 3-19</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-03-21">W 3-21</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-03-23">F 3-23</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="12">
        <div type="day">
            <head>
                <date when="2018-03-26">M 3-26</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-03-28">W 3-28</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-03-30">F 3-30</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="13">
        <div type="day">
            <head>
                <date when="2018-04-02">M 4-02</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-04-04">W 4-04</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-04-06">F 4-06</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="14">
        <div type="day">
            <head>
                <date when="2018-04-09">M 4-09</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-04-11">W 4-11</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-04-13">F 4-13</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week" n="15">
        <div type="day">
            <head>
                <date when="2018-04-16">M 4-16</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-04-18">W 4-18</date>
            </head>
            <div type="inclass">
                <p>...</p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
        <div type="day">
            <head>
                <date when="2018-04-20">F 4-20</date>
            </head>
            <div type="inclass">
                <p><hi>Last day of classes.</hi></p>
            </div>
            <div type="assign">
                <p>...</p>
            </div>
        </div>
    </div>
    <div type="week">
        <div type="day">
            <head><date>Thurs. 4/26 by 11:59 PM</date></head>
            <div type="assign">
                <p>
                    <hi>Projects due.</hi>
                </p>
            </div>
        </div>
    </div>
    
</root>