html {
    background-color : lightYellow;
}
ul#results {
    position:absolute;
    height: 50%;
    width: 85%;
    overflow:auto;
}
b.frequency {
    color: green;
}
b.poem_title {
    line-height: 145%;
    color: #8D1919;
}
li.kwic {
    font-style: italic;
}

span.hi  {
    font-weight: bold;
    background: #ffb7b7;
}