@charset "utf-8";

span.positive.on {color:green}
span.negative.on{color:red}
span.neutral.on {color:blue}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #43eefb;
	background-image: url(project_bg.jpg);
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img { 
	border: none;
}

a:link {
	color: blue;
	text-decoration: underline;
}
a:visited {
	color: #CC0000;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FF9;
	margin: 0 auto; 
}

.header {
	background-color: #006ac4;
}


.sidebar1 {
	float: left;
	width: 20%;
	background-color: #65c336;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 80%;
	float: left;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

ul.nav {
	list-style: none; 
	border-top: 1px solid #666;
	margin-bottom: 15px;
}
ul.nav li {
	border-bottom: 1px solid #666;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background-color: #c4c164;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #990000;
	color: #FFF;
}

.footer {
	font-size: 12px;
	padding: 10px 0;
	background-color: #006ac4;
	position: relative;
	clear: both;
	text-align: left;
}


td {text-align:center;}
h3 {
	align: center;
	text-align: center;
}
