

head {background-color:#DFBD79
;}

body {background-color: #CC9966; color: #70003D; font-family: arial, helvetica, sans-serif;}
div.container {background-color:#EDE3B8; width:80%; margin:auto; padding: 20px;  }

/*div#banner {width: 20%; float:left;}

div#title {width:100%; float:left}*/

/*span.banner {position:relative; top:-18px; padding: 15px; } */

div#main {line-height:1.2em;}

h1 {color:#0F046A; display:inline; letter-spacing:1.5px; font-size: 2.5em; text-align:center; padding: 2px;}

div#title h2 {text-align:center;}

h2 {color:#00056B; font-family:arial, helvetica, sans-serif; font-size: 1.3em; text-align:left; 
}
h3 {color:#990033;
 font-family:arial, helvetica, sans-serif; font-size: 1.1em; text-align:left; padding:3px
}
h4{color:#990033; display:inline-block; font-family:"Trebuchet MS", Helvetica, sans-serif; font-size: 1em; text-align:left;
    
}
title {color:#FEE0D2}
/*
img[style] {position: relative; top: 20px;}*/
img
{padding:2px;}

p {display:block; padding:2px 2px 2px 2px}

p.boilerplate span {text-indent:-1em;
    margin-left:1em;
    display:block;
    font-size:smaller;
    line-height:1.4em;} /*from obdurodon */
    
    
span.project {display:block; font-weight:600 }

span.authors {display:block}
    
span.italic {font-style: italic;}

span.strong {font-weight:bold;}

span.smaller {display:inline-block;; font-size:0.8em; line-height:1.2em; padding:2px}

span.code {color:#B20000
}

div.code {background-color: #ECFFE6; border:1px navy dashed}

span.badCode {color:#B20000; background-color:  #FFFF66 }

div.badCode {background-color:  #FFFF66; border:1px navy dashed  }

span.indent {margin-left: 2em;}

ul.circle {padding: 10px;}

li {padding:5px;}

