body {
  background-color: #000066; /*dark blue*/
  /*#6A0000; maroon */
  
color: #FFFF99;
font-family: arial, helvetica, sans-serif;
}  

img {margin-left:20%; margin-right: 20%;}
h1 {text-align: center;}
    
